# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# 源视频与模型权重
*.mp4
*.avi
*.mkv
*.pt
*.onnx
*.engine

# 压缩包
*.zip
*.7z
*.tar.gz

# 脚本生成的数据集产物
dataset/images/
dataset/labels_track_id/
dataset/annotated_track.mp4

# YOLO 训练输出
runs/
wandb/
dataset/
